/* ========== HOME ========== */
#home {
    padding: 0;

    .hero-banner {
        position: relative;
        height: 500px;
        background-image: url("../img/imagen de portada.png");
        background-size: cover;
        background-position: center;

        .hero-photo {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 223px;
            height: 220px;
            object-fit: cover;
            display: block;
            border: 0;
        }
    }

    .hero-inner {
        background: #353535;
        padding: 36px 0;
    }

    .hero-text {
        color: #FAFAFA;
    }

    .hero-name {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 0 12px 0;
        font-family: "Public Sans", sans-serif;
        font-weight: 100;
        font-size: 120px;
        line-height: 88px;
        letter-spacing: 1px;
        color: #FAFAFA;

        >span {
            display: block;
        }
    }

    h2.thin {
        margin: 0 0 20px 0;
        font: 100 64px "Public Sans", sans-serif;
        line-height: 50px;
        color: #FAFAFA;
        opacity: .9;
    }

}